
.contact-us {
  background-image: url("/assets/images/02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact-us {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image {
  position: absolute;
  z-index: -1;
}

.background-image img {
  width: 100%;
  
  
  object-fit: cover;
  
}
h1{
  text-align: center;
}

.form-container {
  
  position: relative;
  width: 40%;
  
  background-color: #ffffff;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* filter: blur(5px); */
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select {
  width: 100%;
  
  border: 1px solid #ccc;
  padding: 5px 5px !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  
  font-family: montserratlight;
  color: #313131;
  font-size: 18px;

  
  
}


textarea{
  border: 1px solid #ccc;
  padding: 16px 5px !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: none !important;
  font-family: montserratlight;
  color: #181818;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
}

.get-started {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started:hover {
  background-color: #3e8e41;
}