
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-banner {
    margin-top: 7px;
    background-image: url("/assets/images/Landing.jpg");
    height: 580px ;
    width: auto;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;

}

 .button-container{
    margin-top: 10rem;
}
.main-banner .button-section .button-container  button{
    background-color: #040273;
    border: 3px solid black;
    width: 200px;
}
