* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
h1, h4{
    font-weight: 600;
}


.main-section .button-section .button1 {
  background-color: rgb(80, 80, 235);
  border: 3px solid rgb(209, 209, 209);
  color: white;
  font-weight: 700;
}
.main-section .button-section .button1:hover {
  background-color: transparent;
  border: 3px solid rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  font-weight: 700;
}

.main-section .button-section .button2 {
  background-color: transparent;
  border: 3px solid rgb(31, 31, 31);
  font-weight: 700;
}
.main-section .button-section .button2:hover {
  background-color: rgb(80, 80, 235);
  border: 3px solid rgb(209, 209, 209);
  color: whitesmoke;
  font-weight: 700;
}
/* container services  */
.container-services .section-buttons button{
    background-color: rgb(80, 80, 235);
  border: 3px solid rgb(209, 209, 209);
  color: white;
  font-weight: 700;

}
.container-services .section-buttons button:hover{
    background-color: transparent;
  border: 3px solid rgb(31, 31, 31);
  color: rgb(31, 31, 31);
  font-weight: 700;

}


.container-wide-range .row i{
    font-size: 40px;
}